/*
Evan Harrington
Project 1
February 7, 2018

I intended for this website to be more on the chic and modern looking which was toe original reason for the black and white.
The layout of the website ended up not being exactly what I wanted. I wanted a more condensed websire and found
that the columns gave me a little trouble. I liked using the black and white on purpose because it looked better
and could have easily included other colors.
*/


.MarkerFelt{
	font-family: "Marker+Felt", fantasy;
}
.Verdana {
    font-family: 'Verdana', sans-serif;
}
.OpenSans{
	font-family: "Open+Sans", sans-serif;
}

/* box sizing: border-box*/

.body{
    background-color: black;
}

* {
    box-sizing: border-box;
}
.Container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-color: black;
    background-color: black; 
}

section.Links {
    width: auto;
    text-align: center;
    align-content: center;
    margin: auto;
    background-color: black;
    
}

/****** Navigation *******/
nav{
    display:block; 
    overflow:auto;
}

nav a{
    float:left;
    text-align:center;
    width:25%;
}


/*********** Header ***********/
.Header{
	font-family: "Verdana", sans-serif;
	text-align: center;
	background-color: black;
	border: 15px black;
    border-radius: 7px;
    color: white;
    font-size: 25px;

    flex:auto;
}
/********* *About Me  *********/
.title{
    font-family: "Verdana", sans-serif;
    text-align: left;
    background-color: black;
}

.AboutMe{
	font-family: "Verdana", sans-serif;
    background-color: black;
    border: 10px blue;
    color: white;

}

.AboutMeH2{
    font-family: "Verdana", sans-serif;
    margin-top: 10px;
    margin-bottom: -20px;
    padding: 10px;
    text-align: center;
}
.AboutMeP{
    background-color: black;
    color: white;
    /* box-shadow: 1px 4px 5px #999; */
    padding: 10px;
    border-radius: 10px;
    border-style: solid;
    border-color: #red;
}

.AboutMe p{
    line-height: 30px;
    padding: 10px;
    flex-grow: 1;
}
.AboutMe img{
    padding: 10px;
    margin: 10px 10px 10px 10px;
    max-width: 50px;
    max-height: 50px;
}


/*.AboutMe_Column{
    background-color: #61728e;
    padding: 10px;
    margin: 10px 10px 10px 10px;
    width: 30%;
    flex-grow: 1;
}
*/

/************** Classwork *************/
.Classwork{
/*    background-image: url("./Pictures/giphy.gif"); */
    padding: 15px;
    margin-top: 10px;
    margin: 10px;
    color: white;
    border-radius: 5px; 
    border-color: blue;
}
.Header1 {
    width: 100%;
    background-color: black;
    text-align: center;
    color: white;
    border: 5px solid red;
    border-radius: 10px; 
    padding: 10px;
    margin: 0px 5px 10px 5px;
    font-size: 25px
}

.Header4 {
    width: 100%;
    background-color: black;
    text-align: center;
    color: white;
    border: 5px solid red;
    border-radius: 10px; 
    padding: 10px;
    margin: 0px 5px 10px 5px;
    font-size: 25px
}

.Header5 {
    width: 100%;
    background-color: black;
    text-align: center;
    color: white;
    border: 5px solid red;
    border-radius: 10px; 
    padding: 10px;
    margin: 0px 5px 10px 5px;
    font-size: 25px
}

.Classwork #Assignment1{
    width: 100%;
    background-color: black;
    color: white;
    border: 5px solid blue;
    border-radius: 10px;
    padding: 10px;
    margin: 0px 5px 5px 5px;
    font-size: 15px;
}
.Classwork #Assignment2{
    width: 100%;
    background-color: black;
    color: white;
    border: 5px solid blue;
    border-radius: 10px;
    padding: 10px;
    margin: 0px 5px 5px 5px;
    font-size: 15px;
}
.Classwork #Assignment3{
    width: 100%;
    background-color: black;
    color: white;
    border: 5px solid blue;
    border-radius: 10px;
    padding: 10px;
    margin: 0px 5px 5px 5px;
    font-size: 15px;
}
.Classwork #Assignment4{
    width: 100%;
    background-color: black;
    color: white;
    border: 5px solid blue;
    border-radius: 10px;
    padding: 10px;
    margin: 0px 5px 5px 5px;
    font-size: 15px;
}

/********* Different  Size Screens *********/
#portfolioContainer{
    display:flex;
    flex-wrap: wrap;
}

.portfolioH2{
    width: 100%;
    color: white;
    text-align: center;
    margin-top: 0px;
    margin: 10px 10px 10px 10px;
}

.column{
    color:white;
    width: 100%;
    flex-grow: 1;

}

#project1{
    background-color: black;
    color: white;
    /* box-shadow: 1px 4px 5px #999; */
    padding: 10px;
    border-radius: 5px;
    border-style: solid;
    border-color: green;
    /* margin: 10px 10px 10px 10px; */
}
#project2{
    background-color: black;
    color: white;
    /* box-shadow: 1px 4px 5px #999; */
    padding: 10px;
    border-radius: 5px;
    border-style: solid;
    border-color: green;
    /* margin: 10px 10px 10px 10px; */
}
#project3{
    background-color: black;
    color: white;
    /* box-shadow: 1px 4px 5px #999; */
    padding: 10px;
    border-radius: 5px;
    border-style: solid;
    border-color: green;
    /* margin: 10px 10px 10px 10px; */
}

#Heads1 {
    text-align: left;
}
#Heads2 {
    text-align: left;
}
#Heads3 {
    text-align: left;

}

#Header4 {
    background-color: black;
    color: white;
    /* box-shadow: 1px 4px 5px #999; */
    padding: 10px;
    border-radius: 10px;
    border-style: solid;
    border-color: red;

}

@media (min-width: 768px) and (max-width: 991px){
    .Container{
        width:95%;
    }
    .column{
        width:30%;
    }
    #Heads1 {
        text-align: left;
    }
    #Heads2 {
        text-align: left;
    }
    #Heads3 {
        text-align: left;
  }
  .AboutMe img {
    min-width: 150px;
    min-height: 100px;
  }
}

@media (min-width: 991px){
    .container{
        width:90%;
    }
    .column{
        width:20%;
    }
    #Heads1 {
        text-align: left;
    }
    #Heads2 {
        text-align: left;
    }
    #heads3 {
        text-align: left;
    }
    .AboutMe img {
        min-width: 300px;
        min-height: 200px;
    }
}


.center{
    text-align: center;
}







/*************** Link Attributes ******************/
a:link{
    text-decoration: none;
    color: grey;
}
#funfontLink:hover{
    color: red;
    text-decoration: none;
}

#bootstrap1Link:hover{
    color: red;
    text-decoration: none;
}
#bootstrap2Link:hover {
  color: red;
  text-decoration: none;
}

a:hover {
    color: red;
}
a:visited {
    color: #595959;
}





/*############################################# OLD CODE ####################################*/ 
