.Optima {
    font-family: 'Optima', sans-serif;
}
.Verdana {
    font-family: 'Verdana', sans-serif;
}
.OpenSans{
	font-family: "Open+Sans", sans-serif;
}
.MarkerFelt{
	font-family: "Marker+Felt", fantasy;
}